@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 1fr 3fr 2fr;
  width: 100%;
  height: 100vh;
  text-align: center;
  align-items: center;
  font-family: 'Open Sans Condensed', sans-serif;
  background: #1a1a1a;
  color: #f8f8ff;
}

header h1 {
  font-size: 45px;
}

.key-code h1 {
  font-size: 7rem;
}

.key h2 {
  font-size: 3.5rem;
}

p {
  color: #DC143C;
}